.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px
}

.card-image {
    border-radius: 8px;
    height: 216px;
}

.card-text {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}